<div class="row h-100 justify-content-center">
  <div class="col-11 pt-4 pb-2">
    <div class="text-center">
      <img class="img-thumbnail rounded-circle" [src]="'https://via.placeholder.com/200'">
    </div>
    <br>
    <button routerLink="/edit" class="btn btn-sm btn-primary w-100">Edit Profile</button>
    <br><br>
    <ul class="list-group">
      <li class="list-group-item">
        <small><strong>Fullname: </strong><br></small>
      </li>
      <li class="list-group-item">
        <small><strong>Job Title: </strong><br></small>
      </li>
      <li class="list-group-item">
        <small><strong>Email: </strong><br></small>
      </li>
      <li class="list-group-item">
        <small><strong>Mobile No.: </strong><br></small>
      </li>
    </ul>
  </div>
</div>
